.wrapper {
  margin: 0 auto;
  width: 830px;
  display: flex;
  column-gap: calc(var(--offset-base-size) * 40);
}

.form {
  width: 630px;
  display: flex;
  column-gap: calc(var(--offset-base-size) * 6);
}

.list {
  margin: 0 auto;
  padding: calc(var(--offset-base-size) * 24) 0 0;
  box-sizing: border-box;
  max-width: 1040px;
  list-style-type: none;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: calc(var(--offset-base-size) * 8);
}
