.wrapper {
  margin: 0 auto;
  width: 940px;
  display: flex;
  justify-content: center;
  column-gap: calc(var(--offset-base-size) * 26);
}

.radioWrapper {
  width: 221px;
  display: flex;
  align-items: center;
  column-gap: calc(var(--offset-base-size) * 20);
}

.directionWrapper {
  width: 450px;
  padding: 0 calc(var(--offset-base-size) * 14) 0 0;
  box-sizing: border-box;
  display: flex;
  column-gap: calc(var(--offset-base-size) * 6);
}

.list {
  margin: 0 auto;
  padding: calc(var(--offset-base-size) * 24) 0 0;
  height: 320px;
  max-width: 1010px;
  box-sizing: border-box;
  list-style-type: none;

  display: flex;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  column-gap: calc(var(--offset-base-size) * 5);
}